/* Estilos globales */
* {
    margin: 0px; /* Establece el margen exterior de todos los elementos en 0 */
    padding: 0px; /* Establece el relleno de todos los elementos en 0 */
    font-family: Arial, Helvetica, sans-serif; /* Define la fuente utilizada en todo el documento */
    /* text-decoration: none; */ /* Comentado para evitar subrayado predeterminado en los enlaces */
}

