{% extends "layout.html" %}
{% load static %}

{% block title %}
    Materias
{% endblock  %}

{% block content %}

    <h1 class="Materias">Materias</h1>

    <br>

    <p>En la Universidad Ceicotol Tolima (UCT), ofrecemos una amplia variedad de materias diseñadas para brindarte una educación integral y prepararte para tu futuro profesional. Descubre algunas de las materias que puedes estudiar con nosotros:</p>

    <br>

    <div class="lista-materias">

        <table class="tabla-materias">

            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Creditos</th>
                    <th>Fecha de creación</th>
                    <th>Fecha de actualización</th>
                </tr>
            </thead>

            <tbody>
                {% for materia in materi %}
                <tr>
                    <td>{{ materia.code }}</td>
                    <td>{{ materia.name }}</td>
                    <td>{{ materia.description }}</td>
                    <td>{{ materia.credits }}</td>
                    <td>{{ materia.Creation_date }}</td>
                    <td>{{ materia.update_date }}</td>
                </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>
{% endblock  %}