{% extends "layout.html" %}

{% block title %}
    Descubre tu futuro
{% endblock  %}

{% block content %}
    <div class="content-DF">

        <h1>
            ¡Bienvenido a UCT Descubre tu Futuro!
        </h1>

        <br>

        <p>
            En la Universidad Ceicotol Tolima (UCT) te abrimos las puertas a un mundo de posibilidades donde podrás <strong>construir tu futuro profesional</strong> a través de una amplia gama de <strong>carreras de pregrado y posgrado.</strong>
        </p>

        <br>

        <p>A continuación, nos complace presentarles una selección de las carreras pregrado y posgrado que ofrecemos: </p>

        <br>

        <p>
            <strong>Ingeniería Industrial:</strong> Esta carrera forma profesionales capaces de diseñar, implementar y evaluar sistemas de producción, gestionar proyectos, optimizar procesos y tomar decisiones estratégicas en el ámbito industrial.
        </p>

        <br>

        <p>
            <strong>Administración de Empresas:</strong> Esta carrera forma profesionales con habilidades para liderar organizaciones, gestionar recursos humanos, financieros y tecnológicos, y tomar decisiones estratégicas en el ámbito empresarial.
        </p>

        <br>

        <p>
            <strong>Fisioterapia:</strong> Esta carrera forma profesionales capaces de prevenir, diagnosticar y tratar disfunciones físicas y motrices mediante terapias físicas.
        </p>

        <br>

        <p>
            <strong>Maestría en Administración de Empresas:</strong> Este programa de posgrado profundiza en los conocimientos y habilidades gerenciales para liderar organizaciones de manera efectiva en el mercado actual.
        </p>

        <br>

        <p>
            <strong>Maestría en Ingeniería de Sistemas:</strong> Este programa de posgrado profundiza en los conocimientos y habilidades informáticas para el desarrollo de software, la gestión de redes y la administración de sistemas informáticos complejos.
        </p>

        <br>

        <p>
            Si deseas obtener más información, te invitamos a explorar nuestro apartado de carreras. También puedes hacer clic en este enlace: <a href="">Descubre más aquí.</a>
        </p>
        
        <br>

    </div>
{% endblock  %}