{% extends "layout.html" %}

{% block title %}
    Descubre tu futuro
{% endblock  %}

{% block content %}
    <div class="content-DF">

        <h1>
            ¡Bienvenido a UCT Descubre tu Futuro!
        </h1>

        <br>

        <p>
            En la Universidad Ceicotol Tolima (UCT) te abrimos las puertas a un mundo de posibilidades donde podrás <strong>construir tu futuro profesional</strong> a través de una amplia gama de <strong>carreras de pregrado y posgrado.</strong>
        </p>

        <br>

        <p>
            Selecciona el programa que desees ya sea pregrado y posgrado y descubre las ofertas que tenemos para ti
        </p>

        <br>

        <select name="options" id="">
            <option value=""></option>
            <option value="1">Programa: Pregrado</option>
            <option value="2">Programa: Posgrado</option>
        </select>

    </div>
{% endblock  %}