{% extends "layout.html" %}
{% load static %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
    <div class="content">

        <h1>
            ¡Bienvenido a la Universidad Ceicotol Tolima!
        </h1>
        
        <br>

        <h2>
            UCT Academic Manager: tu nuevo portal para el éxito académico
        </h2>
        
        <br>

        <p>
            Nos complace darte la bienvenida a la Universidad Ceicotol Tolima (UCT), una institución educativa de reconocido prestigio que te ofrece una amplia gama de programas de pregrado y posgrado en diversas áreas del conocimiento.
        </p>
        
        <br>
        
        <h3>
            Un nuevo comienzo con tecnología de punta
        </h3>
        
        <br>
        
        <p>
            En la UCT estamos comprometidos con la innovación y la mejora continua. Es por eso que hemos desarrollado UCT Academic Manager, un nuevo sistema web diseñado con el framework Django para transformar la experiencia académica de toda nuestra comunidad.
        </p>
        
        <br>
        
        <h3>
            UCT Academic Manager te ofrece:
        </h3>
        
        <br>
            
        <ul>
                
            <li>
                <strong>Eficiencia y agilidad:</strong> Gestiona de forma fácil y rápida todos tus procesos académicos, desde la consulta de notas hasta la inscripción en cursos.
            </li>
                
            <br>
                
            <li>
                <strong>Accesibilidad:</strong> Accede a la plataforma desde cualquier dispositivo con conexión a internet, en cualquier momento y lugar.
            </li>
                
            <br>
                
            <li>
                <strong>Información actualizada: </strong>Mantente al día con las últimas noticias, eventos y comunicados de la universidad.
            </li>
                
            <br>
                
            <li>
                <strong>Exploración de la oferta académica: </strong>Descubre los diferentes programas de pregrado y posgrado que ofrece la UCT y encuentra el que mejor se adapta a tus intereses y objetivos profesionales.
            </li>
                
            <br>
                
            <li>
                <strong>Proceso de inscripción simplificado: </strong>Realiza tu proceso de inscripción de forma online, sin necesidad de trámites presenciales.
            </li>
                
            <br>
            
        </ul>
        
        <img src="{% static "img/school.jpg" %}" alt="">

    </div>
{% endblock %}
