{% extends "layout.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
    <div class="page">
        <h1>¡Bienvenidos a la Universidad de <br> Innovación y Tecnología Avanzada (UITA) 2024!</h1>
        <br>
        <p>
            ¡Nos complace darles la bienvenida a la Universidad de Innovación y Tecnología Avanzada (UITA)!
        </p>
        <br>
        <p>
            En UITA, les espera un entorno lleno de energía y creatividad, donde la innovación y la excelencia son los valores que guían cada paso que damos. Nuestro propósito principal es prepararlos para los desafíos del futuro, dándoles la confianza y la determinación necesarias para triunfar.
        </p>
        <br>
        <p>
            Los invitamos a explorar todas las oportunidades que UITA tiene para ofrecer, desde nuestros programas académicos de punta hasta las emocionantes posibilidades de investigación. Nuestro objetivo es brindarles una educación completa que no solo los prepare para una carrera exitosa, sino que también los motive a marcar una diferencia positiva en el mundo.
        </p>
        <br>
        <p>
            ¡Gracias por unirse a nosotros en este emocionante viaje de aprendizaje y descubrimiento! Esperamos que disfruten su tiempo en UITA y que encuentren aquí el impulso necesario para alcanzar sus metas.
        </p>
        <br>
        <h2>Permitenos Presentarnos:</h2>
        <br>
        <p>
            ¡Estamos encantados de presentarte la Universidad de Innovación y Tecnología Avanzada (UITA) 2024!
        </p>
        <br>
        <p>
            En UITA, no solo somos una institución educativa, sino una comunidad vibrante de aprendizaje, creatividad y crecimiento. Nuestra misión es prepararte para el futuro, equipándote con las habilidades y conocimientos necesarios para afrontar los desafíos del mundo moderno con confianza y excelencia.
        </p>
        <br>
        <p>
            En nuestra universidad, destacamos por nuestra dedicación a la innovación, la investigación de vanguardia y la excelencia académica. Aquí encontrarás programas académicos de primer nivel impartidos por profesores apasionados, emocionantes oportunidades de investigación y una comunidad inclusiva que valora y celebra la diversidad en todas sus formas.
        </p>
        <br>
        <p>
            Ya sea que tu interés esté en la ingeniería y la tecnología, las ciencias de la computación, los negocios y el emprendimiento, o las ciencias sociales y humanidades, en UITA encontrarás un espacio donde podrás desarrollar tu máximo potencial y prepararte para liderar con innovación y excelencia en cada paso que des.
        </p>
        <br>
        <p>
            Te invitamos a unirte a nosotros en UITA 2024 y ser parte de esta emocionante aventura educativa. ¡Esperamos conocerte y acompañarte en tu viaje hacia el éxito!
        </p>
        <br>
        <p> Si deseas conocer más sobre nosotros, te invitamos a explorar nuestra página web. Puedes encontrar más información sobre nuestra universidad y nuestra comunidad en la sección "¿Quiénes somos?" o en el apartado de navegación titulado "Nosotros". Simplemente haz clic en el siguiente enlace para acceder a esa sección: <a href="{% url "about_us" %}">Enlace a "¿Quiénes somos?"</a>. Allí encontrarás detalles adicionales sobre nuestra misión, valores, programas académicos, facultad y más. ¡Esperamos que encuentres toda la información que necesitas y que te sientas inspirado para unirte a nuestra comunidad en UITA 2024!</p>
        <br>
    </div>
{% endblock %}
