{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}
            {% comment 'titulo de pagina' %} Nombre de la pagina {% endcomment %}
        {% endblock %}
    </title>
    <link rel="icon" href="{% static "img/logo(school).png" %}">
</head>
<body>
    <header>
        <div class="logotipo">
            <img src="{% static 'img/logo(school).png' %}">
            <div class="titulo_slogan">
                <h1>La Universidad Ceicotol Tolima (UCT)</h1>
                <hr>
                <h4>Formando mentes para el mañana: ¡Innovación y excelencia en cada paso!</h4>
            </div>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="{% url "index" %}">Inicio</a></li>
        </ul>
        <ul>
            <li><a href="{% url "future" %}">Descubre tu futuro</a></li>
        </ul>
        <ul>
            <li><a href="{% url "academics_programs" %}">Carreras</a></li>
        </ul>
    </nav>

    <div id="contenido">
        <div class="box">
            {% block content %}

            {% endblock %}
        </div>
    </div>

    <footer>Master de Framework Django &copy; Nicolas Paulo Vega ({% now 'd/m/y h:i:s' %})</footer>

</body>
</html>