{% extends "layout.html" %}

{% block title %}
    Estudiantes
{% endblock  %}

{% block content %}
    <h1>Estudiantes</h1>

    <div class="lista-estudiantes">

        <table class="tabla-estudiantes">

            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Foto</th>
                    <th>Fecha de nacimiento</th>
                </tr>
            </thead>

            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.phone }}</td>
                    <td>
                        {% if student.photo %}
                            <img src="{{ student.photo.url }}" alt="Foto de {{ student.name }}">
                        {% else %}
                            No hay foto disponible
                        {% endif %}
                    </td>
                    <td>{{ student.date_of_birth }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button><a href="{% url "create_student" %}">Crear Estudiantes</a></button>
    </div>
{% endblock  %}
