{% extends "layout.html" %}

{% block title %}
    Maestros
{% endblock  %}

{% block content %}
    <h1>Maestros</h1>

    <div class="lista-maestros">

        <table class="tabla-maestros">

            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Foto</th>
                    <th>Nacimiento</th>
                </tr>
            </thead>

            <tbody>
                {% for teacher in teacher %}
                <tr>
                    <td>{{teacher.name}}</td>
                    <td>{{teacher.last_name}}</td>
                    <td>{{teacher.email}}</td>
                    <td>{{teacher.phone}}</td>
                    <td>
                        {% if teacher.photo != 'null' and teacher.photo.url|length >= 1%}
                            <img src="{{teacher.photo.url}}">
                        {% endif %}
                    </td>
                    <td>{{teacher.date_of_birth}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button><a href="{% url "create_teacher" %}">Agregar Maestros</a></button>
    </div>
{% endblock  %}
