{% extends "layout.html" %}
{% load static %}

{% block title %}
    Materias
{% endblock  %}

{% block content %}

    <h1 class="Materias">Materias</h1>

    <br>

    <p>En la Universidad Ceicotol Tolima (UCT), ofrecemos una amplia variedad de materias diseñadas para brindarte una educación integral y prepararte para tu futuro profesional. Descubre algunas de las materias que puedes estudiar con nosotros:</p>

    <br>

    <div class="lista-materias">

        <table class="tabla-materias">

            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Creditos</th>
                    <th>Maestro encargado</th>
                    <th>Eliminar</th>
                    <th>Actualizar</th>
                </tr>
            </thead>

            <tbody>
                {% for materia in materi %}
                <tr>
                    <td>{{ materia.name }}</td>
                    <td>{{ materia.description }}</td>
                    <td>{{ materia.credits }}</td>
                    <td></td>
                    <td>
                        <button>
                            <a href="#"><i class="fa-sharp fa-solid fa-xmark" style="color: #ff0000;"></i></a>
                        </button>
                    </td>
                    <td>
                        <button>
                            <a href="{% url 'edit_course' materia.code %}">
                                <i class="fa-sharp fa-solid fa-pen-to-square" style="color: #FFD43B;"></i>
                            </a>
                        </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}

            </tbody>

        </table>

        <button><a href="{% url 'create_materi' %}">Agregar Materias</a></button>
    </div>
{% endblock  %}
