{% extends "layout.html" %}
{% load static %}

{% block title %}
    Estudiantes
{% endblock  %}

{% block content %}
    <div class="content-Es">
        <h1>Estudiantes</h1>

        <div class="lista-estudiantes">

            <table class="tabla-estudiantes">

                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>carrera Actual</th>
                        <th>Eliminar</th>
                        <th>Actualizar</th>
                    </tr>
                </thead>

                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>
                            {% if student.photo %}
                                <img src="{{ student.photo.url }}" alt="Foto de {{ student.name }}">
                            {% else %}
                                No hay foto disponible
                            {% endif %}
                        </td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.last_name }}</td>
                        <td>{{student.careers}}</td>
                        <td>
                            <div class="-boton-eliminar">
                                <button>
                                    <a href="{% url 'delete_student' student.code %}"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></a>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="botton-Actualizar">
                                <button>
                                    <a href="{% url 'edit_student' student.code %}">
                                        <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
                                    </a>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button><a href="{% url 'create_student' %}">Agregar Estudiantes</a></button>
        </div>
    </div>
{% endblock  %}
