{% extends "layout.html" %}
{% load static %}

{% block title %}
    Estudiantes
{% endblock  %}

{% block content %}
    <h1>Estudiantes</h1>

    <div class="lista-estudiantes">

        <table class="tabla-estudiantes">

            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Foto</th>
                    <th>Fecha de nacimiento</th>
                    <th>Eliminar</th>
                    <th>Actualizar</th>
                </tr>
            </thead>

            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.phone }}</td>
                    <td>
                        {% if student.photo %}
                            <img style="width: 40px;" src="{{ student.photo.url }}" alt="Foto de {{ student.name }}">
                        {% else %}
                            No hay foto disponible
                        {% endif %}
                    </td>
                    <td>{{ student.date_of_birth }}</td>
                    <td>
                        <form action="{% url 'eliminar_estudiante' student.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn-eliminar">
                                <i class="fa-sharp fa-solid fa-xmark" style="color: #ff0000;"></i>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'actualizar_estudiante' student.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn-actualizar">
                                <i class="fa-sharp fa-solid fa-pen-to-square" style="color: #FFD43B;"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button><a href="{% url 'create_student' %}">Agregar Estudiantes</a></button>
    </div>
{% endblock  %}
