{% extends "layout.html" %}
{% load static %}

{% block title %}
    Maestros
{% endblock  %}

{% block content %}
    <h1>Maestros</h1>

    <div class="lista-maestros">

        <table class="tabla-maestros">

            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Foto</th>
                    <th>Nacimiento</th>
                    <th>Eliminar</th>
                    <th>Actualizar</th>
                </tr>
            </thead>

            <tbody>
                {% for teacher in teacher %}
                <tr>
                    <td>{{ teacher.name }}</td>
                    <td>{{ teacher.last_name }}</td>
                    <td>{{ teacher.email }}</td>
                    <td>{{ teacher.phone }}</td>
                    <td>
                        {% if teacher.photo %}
                            <img style="width: 40px;" src="{{ teacher.photo.url }}" alt="Foto de {{ teacher.name }}">
                        {% endif %}
                    </td>
                    <td>{{ teacher.date_of_birth }}</td>
                    <td>
                        <form action="{% url 'eliminar_maestro' teacher.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn-eliminar">
                                <i class="fa-sharp fa-solid fa-xmark" style="color: #ff0000;"></i>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'actualizar_maestro' teacher.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn-actualizar">
                                <i class="fa-sharp fa-solid fa-pen-to-square" style="color: #FFD43B;"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button><a href="{% url 'create_teacher' %}">Agregar Maestros</a></button>
    </div>
{% endblock  %}
