{% extends "layout.html" %}
{% load static %}

{% block title %}
    Maestros
{% endblock  %}

{% block content %}
    <div class="cotent-T">
        <h1>Maestros</h1>
        <div class="lista-maestros">

            <table class="tabla-maestros">
    
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nombre completo</th>

                        <th>Materias</th>
                        {% if user.is_superuser %}
                            <th>Eliminar</th>
                            <th>Actualizar</th>
                        {% endif %}
                    </tr>
                </thead>
    
                <tbody>
                    {% for teacher in teachers %}
                    <tr>
                        <td>
                            {% if teacher.photo %}
                                <img src="{{ teacher.photo.url }}" alt="Foto de {{ teacher.name }}">
                            {% endif %}
                        </td>
                        <td>{{ teacher.name }} {{ teacher.last_name }}</td>
                        {% comment 'mostrar nombre' %} creamos un bucle el cual va a iterar sobre la lista de nombres de la tabla materias {% endcomment %}
                        <td>
                            {% for materia in teacher.materi.all %}
                                {{ materia.name }}
                                {% if not forloop.last %} <br> {% endif %}
                            {% endfor %}
                        </td>
                        {% if user.is_superuser %}
                        <td>
                            <div class="-boton-eliminar">
                                <button>
                                    <a href="{% url "delete_teacher" teacher.code %}"><i class="fa-sharp fa-solid fa-xmark" style="color: #ff0000;"></i></  a>
                                </button>
                            </div>
                        </td>
                        {% endif %}
                        {% if user.is_superuser %}
                        <td>
                            <div class="-boton-actualizar">
                                <button>
                                    <a href="{% url 'edit_teacher' teacher.code %}">
                                        <i class="fa-sharp fa-solid fa-pen-to-square" style="color: #FFD43B;"></i>
                                    </a>
                                </button>
                            </div>                            
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if user.is_superuser %}
                <button class="boton"><a href="{% url 'create_teacher' %}">Agregar Maestros</a></button>
            {% endif %}
        </div>
    </div>
    <br>
{% endblock %}
